flask
langchain==0.3.27
langchain-core==0.3.80
langchain-community==0.3.31
langchain-huggingface==0.3.1
langchain-text-splitters==0.3.11
huggingface-hub==0.36.0
tokenizers==0.19.1
transformers==4.43.3
sentence-transformers==2.7.0
pypdf
chromadb
requests==2.32.5
